.add-tag-button {
  opacity: 0.6;
  width: 24px;
  height: 24px;
  border: 1px dashed black;
  border-radius: 50%;
  background: none;
  font-size: 18px;
  outline: none;
  cursor: pointer;
}

.tags--create {
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tags__list {
  display: flex;
}

.create-card-header {
  margin: 0;
  font-size: 18px;
  margin-bottom: 16px;
}

.box hr {
  opacity: 0.4;
  width: 100%;
  border: none;
  outline: none;
  background: black;
  height: 1px;
  margin: 0;
}

.add-card-button {
  background: transparent;
  padding: 16px;
  color: #636363;
  width: 100%;
  border: none;
  border-radius: 9px;
  cursor: pointer;
}

.add-task-button {
  width: 100%;
  background: rgba(62, 162, 202, 0.8);
  border-radius: 1em;
}

.createcard-input {
  background: transparent;
  border-radius: 5px;
  border: 1px solid #868686;
}

.assign-to {
  margin-top: 8px;
}

.assign-to select {
  margin: 8px 0;
}
