.category {
  display: flex;
  flex-direction: column;
  color: #000;
  font-size: 18px;
  margin-right: auto;
  margin-left: auto;
  font-weight: bold;
  max-width: 300px;
  min-width: 260px;
}

.dashboard-wrapper {
  max-width: 1400px;
  display: flex;
  overflow: auto;
  width: 100%;
  justify-content: center;
  padding-right: 40px;
}

@media (min-width: 400px) {
  .dashboard-wrapper {
    justify-content: flex-start;
  }
}
