.login-form {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-self: center;
}

.login-form__inner {
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
}

.login-form__inner form {
  display: flex;
  flex-direction: column;
}
.login-form__inner form input {
  margin-bottom: 8px;
  padding: 8px;
}

.login-form__input{
  background: transparent;
  border: 1px dotted rgb(175, 175, 175);
}
.login-form__submit{
  width: 100%;
  color: #FFF;
  background: rgba(62, 162, 202, 0.8);
  border-radius: 1em;
  border: 1px;
}